<div th:replace="compartilhado/top"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Administradores</h1>
        <p class="mb-4">
            Aqui irá listar os administradores do meu sistema
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista de administradores</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Endereço</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Endereço</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>email@trste.com</td>
                                <td>Edinburgh</td>
                                <td><a href="#" class="btn btn-warning">Alterar</td>
                                <td><a href="#" class="btn btn-danger">Excluir</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>email@teste.com</td>
                                <td>Tokyo</td>
                                <td><a href="#" class="btn btn-warning">Alterar</td>
                                <td><a href="#" class="btn btn-danger">Excluir</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>
